{%extends "base.html"%}

{%block content%}
<div class="form_body">
    <h1>FREE LEAKED PASSWORD CHECK</h1>
    <br><br>
    <h3>Check Credentials with privacyDB</h3>
    <form action="" method="post">
        <div>
            {{form.email(class_="input")}}
        </div>
        <div>
            {{form.passwrd(class_="input")}}
        </div>
        
        <div >
            {{form.submit(class_="checkbut")}}
        </div>
        <br>
    </form>
    <div id="shield">
        <img class="logo" src="{{url_for('static',filename='images/shield.png')}}" alt="logo">
        <p>Safe and Secure</p>
    </div>
</div>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        
        {%if messages[0]=="found"%} 
            <div class="found">
                <span id="credfound"><b>!!!CREDENTIALS COMPROMISED!!!</b></span>
                
            </div>
        {%else%}
            <div class="notfound">
                <span id="crednfound"><b>!!!CREDENTIALS SECURED!!!</b></span>
                
            </div>
        {%endif%}
        <div class="time">
            <img class="logo" src="{{url_for('static',filename='images/timer.png')}}" alt="logo">
            <span>Query Speed: {{messages[1]}} secs</span>
        </div>
    {% endif %}
{% endwith %}
<div class="content">
    <div class="content1">
        <h1>The Importance of Password Security</h1>
        <div class="c1_body">
            <img  src="{{url_for('static',filename='images/pwsecurity.jpg')}}" alt="image">

            <div>
                <p>In today's digital age, password security is more crucial than ever. With cyber threats on the rise and hackers constantly developing new techniques, the risks associated with breached passwords cannot be overstated. </p>
                <p>Shockingly, hackers leaked over 721 million passwords last year alone. This staggering number underscores the pervasive nature of cyber threats and the importance of robust password security measures.</p>
                <p>The consequences of a breached password extend far beyond compromised accounts. Hackers can use stolen credentials to access sensitive personal information, such as contact details, full names, and birthdays, which can pave the way for identity theft. Once criminals gain access to personal data, they can exploit it to access financial accounts, tax documents, and other confidential information.</p>
                <p>Implementing password monitoring tools and practices is crucial for detecting and mitigating the risks associated with breached passwords. By receiving timely notifications when passwords are exposed, individuals can take swift action to protect their accounts and identity.</p>
            </div>
        </div>     
    </div>

    <div class="content2">
        <h1>Top Strategies for Protecting Your Passwords</h1>
        <div class="c2_body">
            <img  src="{{url_for('static',filename='images/security.png')}}" alt="image">

            <div>
                <p>Protecting your passwords is crucial for safeguarding your online accounts and personal information from cyber threats. Here are some effective strategies to enhance password security:</p>
                <ul>
                    <li>Unique Passwords for Each Account</li>
                    <li>Regular Password Updates</li>
                    <li>Create Strong, Complex Passwords</li>
                    <li>Password Manager Usage</li>
                    <li>Multi-Factor Authentication (MFA)</li>
                </ul>
                <p>By implementing these strategies, you can significantly enhance the security of your passwords and reduce the likelihood of unauthorized access to your online accounts. Remember, protecting your passwords is essential for safeguarding your digital identity and personal information in today's interconnected world.</p>
            </div>
        </div>     
    </div>

    <div class="content1">
        <h1>Characteristics of a Strong Password: Building a Secure Digital Fortresss</h1>
        <div class="c1_body">
            <img  src="{{url_for('static',filename='images/pword.jpeg')}}" alt="image">

            <div>
                <p>Crafting a robust password is essential for fortifying your digital fortress against potential threats.</p>               
                 <ul>
                    <li>Length: A strong password should be sufficiently long to thwart brute-force attacks. Aim for a minimum length of at least 12 characters, but longer passwords are even more secure.</li>
                    <li>Complexity: Use a diverse mix of characters, including uppercase and lowercase letters, numbers, and special symbols, avoiding predictable patterns.</li>
                    <li>Unpredictability: Opt for random combinations of characters to avoid easily guessable information such as birthdays or common phrases.</li>
                    <li>Uniqueness: Never reuse passwords across multiple accounts to prevent a single breach from compromising multiple accounts.</li>
                    <li>Avoidance of Common Patterns: Steer clear of sequential numbers or keyboard patterns, as hackers often target passwords with predictable patterns.</li>
                    <li>Regular Updates: Change passwords regularly, ideally every 3 to 6 months, to mitigate the risk of compromise and maintain security.</li>
                </ul>
            </div>
        </div>     
    </div>
    
</div>
{%endblock%}