{%extends "base.html"%}

{%block content%}
<div class="form_body">
    <h1>FREE LEAKED PASSWORD CHECK</h1>
    <br><br>
    <h3>Check Credentials</h3>
    <form action="" method="post">
        <div>
            {{form.email(class_="input")}}
        </div>
        <div>
            {{form.passwrd(class_="input")}}
        </div>
        
        <div >
            {{form.submit(class_="checkbut")}}
        </div>
    </form>
</div>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            {%if msg=="found"%} 
                <div class="found">
                    <p>found div</p>
                </div>
            {%else%}
                <div class="notfound">
                    <p>not found div</p>
                </div>
            {%endif%}
        {% endfor %}
    {% endif %}
{% endwith %}

{%endblock%}